<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5">
	
  <test  name="ChromeTest">
	<parameter name="browser" value="chrome"/>
    <classes>
 <!--	
<class name="com.spicejet.tests.SpicejetSignUp_Negativetest"/>
 
-->
			
	 	<class name="com.spicejet.tests.SpicejetTest"/> 
	<class name="com.spicejet.tests.SpicejetLoginTest"/>
	<class name="com.spicejet.tests.SpicejetRoundTripTest"/>			
	<class name="com.spicejet.tests.SpicejetBookingFieldTest"/> 
	<class name="com.spicejet.tests.SpicejetBookingTest"/>	
	
	
<class name="com.spicejet.tests.SpicejetLogin_NegativeTest"/> 
<class name="com.spicejet.tests.SpicejetInvalidPassengerDet_Negativetest"/>
	<class name="com.spicejet.utils.Reports" />
		 	
		<!--	<class name="com.spicejet.tests.SpicejetOneWayTest"/>	-->
			
				
    </classes>   
     </test> 
  <!--
  
  <test  name="EdgeTest">
	  <parameter name="browser" value="edge"/>
    <classes>
		 
	<class name="com.spicejet.tests.SpicejetTest"/> 
	<class name="com.spicejet.tests.SpicejetLoginTest"/>
	<class name="com.spicejet.tests.SpicejetRoundTripTest"/>			
	<class name="com.spicejet.tests.SpicejetBookingFieldTest"/> 
	<class name="com.spicejet.tests.SpicejetBookingTest"/>	
	
	
<class name="com.spicejet.tests.SpicejetLogin_NegativeTest"/> 
<class name="com.spicejet.tests.SpicejetInvalidPassengerDet_Negativetest"/>
	<class name="com.spicejet.utils.Reports" />		
    </classes>  
	  </test>--> 

  
</suite> 
